[Unit]
Description=Pi Radio Non Real Time sample daemon
BindsTo=sys-devices-platform-piradio_nrt.device

[Service]
Type=notify
ExitType=main
BusName=io.piradio.sampled
ExecStart=/usr/bin/piradio-sampled

[Install]
Alias=piradio-sampled.service
WantedBy=multi-user.target
