[Unit]
BusName=io.piradio.fpgad
Description=Pi Radio FPGA Management Daemon
Wants=io.piradio.zcu111d

[Service]
ExecStart=/usr/bin/piradio-fpgad

[Install]
Alias=piradio-fpgad.service
WantedBy=multi-user.target