[D-BUS Service]
Name=io.piradio.fpgad
Exec=/usr/bin/piradio-fpgad

[Unit]
Description=Pi Radio FPGA Management Daemon

[Service]
ExecStart=/usr/bin/piradio-fpgad

[Install]
WantedBy=multi-user.target