SUBSYSTEM=="uio", GROUP="adm", MODE="0660"
SUBSYSTEM=="gpio", NAME="gpiochip%n",OWNER="root",GROUP="adm",MODE="0660"
SUBSYSTEM=="gpio",  ACTION=="add", PROGRAM="/bin/sh -c 'chown -R root:adm /sys%p'", GROUP="adm", MODE="0660"

SUBSYSTEM=="spi", ACTION=="add|change", ENV{MODALIAS}=="spi:LTC5586", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{MODALIAS}=="spi:LTC5594", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{MODALIAS}=="spi:MAX11300", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{MODALIAS}=="spi:LMX2595", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{MODALIAS}=="spi:LMX2598", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"

# This is where I was an idiot
SUBSYSTEM=="spi", ACTION=="add|change", ENV{OF_NAME}=="LMX2598", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"

SUBSYSTEM=="spi", ACTION=="add|change", ENV{OF_COMPATIBLE_0}=="piradio,bgctrl", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{OF_COMPATIBLE_0}=="piradio,amps", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"


# This is where I was an idiot -- needs fixing, status="okay"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{OF_COMPATIBLE_0}=="sivers,radio", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"
SUBSYSTEM=="spi", ACTION=="add|change", ENV{OF_COMPATIBLE_0}=="sivers,synth", PROGRAM="/bin/sh -c 'echo spidev > /sys/%E{DEVPATH}/driver_override ; echo %k > /sys/bus/spi/drivers/spidev/bind'"

SUBSYSTEM=="platform", ENV{OF_NAME}=="usp_rf_data_converter", ACTION=="add|change", PROGRAM="/bin/sh -c 'echo uio_pdrv_genirq > /sys/%E{DEVPATH}/driver_override ; echo $(basename %E{DEVPATH}) > /sys/bus/platform/drivers_probe'"
SUBSYSTEM=="platform", ENV{OF_NAME}=="axis_sample_buffer_in", ACTION=="add|change", PROGRAM="/bin/sh -c 'echo uio_pdrv_genirq > /sys/%E{DEVPATH}/driver_override ; echo $(basename %E{DEVPATH}) > /sys/bus/platform/drivers_probe'"
SUBSYSTEM=="platform", ENV{OF_NAME}=="axis_sample_buffer_out", ACTION=="add|change", PROGRAM="/bin/sh -c 'echo uio_pdrv_genirq > /sys/%E{DEVPATH}/driver_override ; echo $(basename %E{DEVPATH}) > /sys/bus/platform/drivers_probe'"
SUBSYSTEM=="platform", ENV{OF_NAME}=="piradip_trigger_unit", ACTION=="add|change", PROGRAM="/bin/sh -c 'echo uio_pdrv_genirq > /sys/%E{DEVPATH}/driver_override ; echo $(basename %E{DEVPATH}) > /sys/bus/platform/drivers_probe'"

SUBSYSTEM=="spidev", ACTION=="add|change", OWNER="root", GROUP="adm",MODE="0660"